@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET Core Midterm Starter</h1>
    <h2>Student Name:</h2>
    <h2>Student Number:</h2>
</div>
